.add-member {
    padding: 20px;
    width: 25%;
    margin: 5px 36%;
  }
  
  .add-member form {
    display: flex;
    flex-direction: column;
  }
  
  .add-member input {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .add-member button {
    padding: 10px;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-member button:hover {
    background-color: #1976d2;
  }
  